

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: o;
    line-height: 1.6;
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: $font-color;
}

img{
    width: 80%;
    height: auto;
}

nav, .servicios, .presentacion, .footer-content{
    width: 80%;
    margin: auto;
}

.titulo-servicios, .presentacion{
    margin-bottom: 10%;
}


//variables

$font-p: 1.8rem;
$font-h1: 3.0rem;
$font-h2: 2.4rem;
$font-h3: 2.0rem;
$font-color: rgb(134, 132, 132);

p{
    font-size: $font-p;
    color:  $font-color;
}

h2{
    font-size: $font-h2;
}

h3{
    font-size: $font-h3;
    font-weight: lighter;
}

